body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    background-image: url("download.jpg");
}

.music-player {
    background-color: #fff;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
#audio-player {margin-top: 20px;

}
img{
    box-shadow: 0 0 10px rgb(28, 24, 24);
    border-radius: 10px;
}
.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

#play-pause-button {
    background-color: #0074d9;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

#volume-slider {
    width: 70%;
}